/* Kv */
.mKvTitle {
  text-shadow: 2px 2px 3px #080103;
  z-index: 1;
  transform: translateY(20%);
  transition: transform 0.6s 0.5s, opacity 0.6s 0.5s;

  @apply opacity-0;
}

.mKvFig {
  width: 200%;
  height: calc(102 / 150 * 200%);
  transition: width 0.8s, height 0.8s, opacity 0.6s;

  /* transform: translate(-50%, -50%); */

  @apply opacity-0 transform -translate-x-1/2 -translate-y-1/2;
}

.mKvCtrl {
  height: 100%;
}

.mKvPath {
  stroke: #fff;
  fill: none;
  stroke-width: 1;
  stroke-linecap: round;
  transform-origin: center center;
}

.mKvItem {
  @apply transition-opacity;

  &.swiper-slide-active {
    .mKvTitle {
      transform: translateY(0);

      @apply opacity-100;
    }

    .mKvFig {
      width: 150%;
      height: 102%;

      @apply opacity-100;
    }
  }
}

.mKvPrev {
  .mKvPath {
    transform: scaleX(-1);
  }
}

.mKvArr {
  text-shadow: 2px 2px 3px #080103;
  z-index: 1 !important;

  @apply text-xf rounded-50 relative;

  &:disabled {
    .mKvPath {
      @apply hidden;
    }
  }

  &::before {
    content: "";
    width: 88%;
    height: 88%;

    @apply top-1/2 left-1/2 opacity-20 rounded-50 border-1 border-solid border-xf absolute transform -translate-x-1/2 -translate-y-1/2;
  }

  &::after {
    font-size: 28px !important;
  }
}

@screen p {
  .mKv {
    &.--width {
      @apply w-3/4;
    }
  }

  .mKvArr {
    /* right: 60px; */

    /* width: calc(40 / 72 * 35px); */
    width: 72px !important;
    height: 72px !important;

    /* &.slider_prev {
      top: 115px;
    }

    &.slider_next {
      top: 250px;
    } */
  }

  .mKvTitle {
    top: 135px;
    left: 600px;
    width: 680px;
  }
}

@screen pt {
  .mKv {
    &.--width {
      @apply ml-auto;
    }
  }
}

@screen t {
  .mKv {
    &.--width {
      width: 100%;
    }
  }

  .mKvArr {
    /* right: 45px; */
    width: 64px !important;
    height: 64px !important;

    /* &.slider_prev {
      top: 40px;
    }

    &.slider_next {
      top: 110px;
    } */
  }

  .mKvTitle {
    top: 50px;
    right: 80px;
    width: 300px;
  }
}

@screen m {
  .mKvArr {
    /* right: 100px; */

    /* width: calc(40 / 72 * 20px); */
    width: 54px !important;
    height: 54px !important;

    /* &.slider_prev {
      top: 30px;
    }

    &.slider_next {
      top: 80px;
    } */
  }

  .mKvTitle {
    top: 36px;
    left: 16px;
    width: 220px;
  }
}
