.mMenuHd {
  letter-spacing: 6px;
}

.mMenuFt {
  z-index: 2;
}

@screen p {
  .mMenu {
    width: 25%;
  }
}

@screen t {
  .mMenu {
    width: 200px;
  }
}

@screen m {
  .mMenuFt {
    width: 120px;
    height: 30px;

    &:not(.--article) {
      right: 12px;
      bottom: -58px;
    }
  }
}
