.mMenuHd {
  letter-spacing: 6px;
}

.mMenuFt {
  z-index: 2;
}

@screen p {
  .mMenu {
    width: 25%;
  }
}

@screen t {
  .mMenu {
    width: 270px;
  }
}

@screen m {
  .mMenuFt {
    right: 12px;
    bottom: -58px;
    width: 120px;
    height: 30px;
  }
}
