<div class="lCnt p:mb-68 t:mb-24 m:mb-16" id="search">
  <div class="search py-68 bg-x1479">
    <form method="GET" class="flex items-center justify-center">
      <div>
        <input name="q" type="search" class="search-type p-8 rounded-8">
      </div>
      <div class="ml-20">
        <button type="submit" class="search-button block">
          <svg class="block w-full h-full fill-xf">
            <use xlink:href="#search"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
  <div class="mx-auto p:w-cnt t:w-4/5 m:mt-24 m:px-12 jSearch">
    <script async src="https://cse.google.com/cse.js?cx=33a5864cc17edc78f"></script>
    <div class="gcse-searchresults-only"></div>
  </div>
</div>